<!-- Header views/partials/header.ejs -->
<!-- Logo -->
<a href="/images/mock-io-logo.png" data-lightbox="logo">
    <img class="logo" src="/images/mock-io-logo.png" alt="Mock.io Logo">
</a>
<!-- Navigation -->
<nav>
    <a id="index-link" href="/index">Mock</a>
    <a id="profile-link" href="/profile">Profile</a>
    <a id="schedule-link" href="/schedule">Schedule</a>
    <a id="interview-link" href="/interview">Interview</a>
    <a id="prepare-link" href="/prepare">Prepare</a>
</nav>
