<!-- Title views/partials/head.ejs -->
<title>
    Mock.io
</title>
<!-- Set charset to UTF-8 -->
<meta charset="UTF-8">
<!-- Load Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Load Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
<!-- Load logos from fontawesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Load styles from master.css -->
<link rel="stylesheet" type="text/css" href="/styles/master.css">
<!-- Load script from master.js -->
<script src="/scripts/master.js"></script>
<!-- Add browser icon -->
<link rel="icon" href="/images/mock-icon.png">
