.profile {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    min-height: 75vh;
}
.profile-content {
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 1vw;
    margin-right: 1vw;
    border-style: solid;
    border-width: 0.5vh;
}
.profile-header {
    margin-top: 1vh;
    margin-bottom: 3vh;
    text-align: center;
}
.input-form {
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 2vh;
    margin-right: 2vh;
    min-width: 20vw;
}
.input-form * {
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.image-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 20vw;
}
.image-content * {
    max-width: 20vw;
}
label {
    margin-right: 1vw;
    min-width: 5vw;
}
input {
    margin-right: 1vw;
    min-width: 5vw;
}
@media screen and (max-width: 767px){
    .profile {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
    }
    .image-content {
        display: none;
    }
    .image-content * {
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 979px){
    .profile {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }
    .image-content {
        display: none;
    }
    .image-content * {
        display: none;
    }
}
#profile-link {
    border-style: solid;
    border-width: 1.5px;
}
