.schedule {
    display: grid;
}
.schedule-content {
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 1vw;
    margin-right: 1vw;
    border-style: solid;
    border-width: 0.5vh;
}
.schedule-header {
    margin-top: 1vh;
    margin-bottom: 3vh;
    text-align: center;
}
.input-form {
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 2vh;
    margin-right: 2vh;
    min-width: 20vw;
}
.input-form * {
    margin-top: 1vh;
    margin-bottom: 1vh;
}
#schedule-link {
    border-style: solid;
    border-width: 1.5px;
}
