<!DOCTYPE html>
<html lang="en">

    <head>
        <% include ../partials/head %>
        <!-- Load styles from index.css -->
        <link rel="stylesheet" href="../styles/interview.css">
        <!-- Load script from interview.js -->
        <script src="../scripts/interview.js"></script>
    </head>

    <body>
        <!-- Jump to content - for accessibilit -->
        <a href="#content" class="skip">Skip to content</a>
        <!-- Header -->
        <header>
            <% include ../partials/header %>
        </header>

        <!-- Profile setup -->
        <main id="content" role="main" class="schedule">
        </main>
        <!-- Footer -->
        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>
