<!DOCTYPE html>
<html lang="en">

    <head>
        <% include ../partials/head %>
        <!-- Load styles from index.css -->
        <link rel="stylesheet" href="/styles/interview.css">
        <!-- Load script from interview.js -->
        <script src="/scripts/interview.js"></script>
    </head>

    <body>
        <!-- Jump to content - for accessibilit -->
        <a href="#content" class="skip">Skip to content</a>
        <!-- Header -->
        <header>
            <% include ../partials/header %>
        </header>

        <!-- Profile setup -->
        <main id="content" class="interview">
            <div id="accordion" role="heading" aria-level="1" class="accordion interview-content">
                <div class="accordion-panel">
                    <button class="accordion-header">
                        Interview #1
                    </button>
                    <div class="accordion-body">
                        <div class="accordion-item">
                            Name: Jeanine Williams
                        </div>
                        <div class="accordion-item">
                            Phone: +1 (121) 090-2398
                        </div>
                        <div class="accordion-item">
                            Specialty: Consulting
                        </div>
                        <div class="accordion-item">
                            Occupation: Managing Director at Bain
                        </div>
                    </div>
                </div>
                <div class="accordion-panel">
                    <button class="accordion-header">
                        Interview #2
                    </button>
                    <div class="accordion-body">
                        <div class="accordion-item">
                            Name: Kimberly Alcantar
                        </div>
                        <div class="accordion-item">
                            Phone: +1 (000) 222-1111
                        </div>
                        <div class="accordion-item">
                            Specialty: Consulting
                        </div>
                        <div class="accordion-item">
                            Occupation: Principal at Accenture
                        </div>
                    </div>
                </div>
                <div class="accordion-panel">
                    <button class="accordion-header">
                        Interview #3
                    </button>
                    <div class="accordion-body">
                        <div class="accordion-item">
                            Name: Muhammad Arain
                        </div>
                        <div class="accordion-item">
                            Phone: +1 (999) 211-2323
                        </div>
                        <div class="accordion-item">
                            Specialty: Consulting
                        </div>
                        <div class="accordion-item">
                            Occupation: Associate at Boston Consulting Group
                        </div>
                    </div>
                </div>
                <div class="accordion-panel">
                    <button class="accordion-header">
                        Interview #4
                    </button>
                    <div class="accordion-body">
                        <div class="accordion-item">
                            Name: Ava Johnson
                        </div>
                        <div class="accordion-item">
                            Phone: +1 (212) 232-2424
                        </div>
                        <div class="accordion-item">
                            Specialty: Consulting
                        </div>
                        <div class="accordion-item">
                            Occupation: Partner at McKinsey & Co.
                        </div>
                    </div>
                </div>
                <div class="accordion-panel">
                    <button class="accordion-header">
                        Interview #5
                    </button>
                    <div class="accordion-body">
                        <div class="accordion-item">
                            Name: John Smith
                        </div>
                        <div class="accordion-item">
                            Phone: +1 (111) 222-3333
                        </div>
                        <div class="accordion-item">
                            Specialty: Consulting
                        </div>
                        <div class="accordion-item">
                            Occupation: Associate at McKinsey & Co.
                        </div>
                    </div>
                </div>
                <div class="accordion-panel">
                    <button class="accordion-header">
                        Interview #6
                    </button>
                    <div class="accordion-body">
                        <div class="accordion-item">
                            Name: Maheen Jawad
                        </div>
                        <div class="accordion-item">
                            Phone: +1 (090) 298-1081
                        </div>
                        <div class="accordion-item">
                            Specialty: Consulting
                        </div>
                        <div class="accordion-item">
                            Occupation: Analyst at Deloitte
                        </div>
                    </div>
                </div>
                <div class="accordion-panel">
                    <button class="accordion-header">
                        Interview #7
                    </button>
                    <div class="accordion-body">
                        <div class="accordion-item">
                            Name: Jack Geller
                        </div>
                        <div class="accordion-item">
                            Phone: +1 (121) 118-8776
                        </div>
                        <div class="accordion-item">
                            Specialty: Consulting
                        </div>
                        <div class="accordion-item">
                            Occupation: Principal at Accenture
                        </div>
                    </div>
                </div>
                <div class="accordion-panel">
                    <button class="accordion-header">
                        Interview #8
                    </button>
                    <div class="accordion-body">
                        <div class="accordion-item">
                            Name: Sachin Krishnan
                        </div>
                        <div class="accordion-item">
                            Phone: +1 (199) 987-1614
                        </div>
                        <div class="accordion-item">
                            Specialty: Consulting
                        </div>
                        <div class="accordion-item">
                            Occupation: Partner at Strategy&
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer -->
        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>
