<!DOCTYPE html>
<html lang="en">

    <head>
        <% include ../partials/head %>
        <!-- Load styles from prepare.css -->
        <link rel="stylesheet" href="/styles/prepare.css">
        <!-- Load script from preprare.js -->
        <script src="/scripts/prepare.js"></script>
    </head>

    <body>
        <!-- Jump to content - for accessibilit -->
        <a href="#content" class="skip">Skip to content</a>
        <!-- Header -->
        <header>
            <% include ../partials/header %>
        </header>

        <!-- Profile setup -->
        <main id="content" class="prepare">
            <div id="accordion" role="heading" aria-level="1" class="accordion prepare-content">
                <div class="accordion-panel">
                    <button class="accordion-header">
                        Software Engineering
                    </button>
                    <div class="accordion-body">
                        <div class="accordion-item">
                            GeeksForGeeks <a href="https://www.geeksforgeeks.org/">https://www.geeksforgeeks.org/</a>
                        </div>
                        <div class="accordion-item">
                            LeetCode <a href="https://www.leetcode.com/problemset/all/">https://www.leetcode.com/problemset/all/</a>
                        </div>
                        <div class="accordion-item">
                            HackerRank <a href="https://www.hackerrank.com/">https://www.hackerrank.com/</a>
                        </div>
                        <div class="accordion-item">
                            HighScalability <a href="http://www.highscalability.com/">http://www.highscalability.com/</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-panel">
                    <button class="accordion-header">
                        Product Management
                    </button>
                    <div class="accordion-body">
                        <div class="accordion-item">
                            The PM Interview <a href="https://www.thepminterview.com/">https://www.thepminterview.com/</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-panel">
                    <button class="accordion-header">
                        Consulting
                    </button>
                    <div class="accordion-body">
                        <div class="accordion-item">
                            Management Consulting Prep <a href="https://www.mconsultingprep.com/">https://www.mconsultingprep.com/</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-panel">
                    <button class="accordion-header">
                        Investment Banking
                    </button>
                    <div class="accordion-body">
                        <div class="accordion-item">
                            Wall Street Prep <a href="https://www.wallstreetprep.com/">https://www.wallstreetprep.com/</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-panel">
                    <button class="accordion-header">
                        Law
                    </button>
                    <div class="accordion-body">
                        <div class="accordion-item">
                            Above the Law <a href="https://www.abovethelaw.com/">https://www.abovethelaw.com/</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-panel">
                    <button class="accordion-header">
                        Medicine
                    </button>
                    <div class="accordion-body">
                        <div class="accordion-item">
                            Prospective Doctor <a href="https://www.prospectivedoctor.com/">https://www.prospectivedoctor.com/</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-container prepare-content">
                <img class="image-content" src="/images/prepare-one.jpg" alt="Picture of Successful Candidate">
                <img class="image-content" src="/images/prepare-two.jpg" alt="Picture of Successful Candidate">
            </div>
        </main>
        <!-- Footer -->
        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>
