<!DOCTYPE html>
<html lang="en">

    <head>
        <% include ../partials/head %>
        <!-- Load styles from index.css -->
        <link rel="stylesheet" href="/styles/profile.css">
        <!-- Load script from profile.js -->
        <script src="/scripts/profile.js"></script>
    </head>

    <body>
        <!-- Jump to content - for accessibilit -->
        <a href="#content" class="skip">Skip to content</a>
        <!-- Header -->
        <header>
            <% include ../partials/header %>
        </header>

        <!-- Modal -->
        <div class="modal-container">
            <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="alertModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <!-- Profile setup -->
        <main id="content" class="profile">
            <!-- Login -->
            <div class="login profile-content">
                <div role="heading" aria-level="1" class="profile-header">
                    Login
                </div>
                <form class="input-form" onsubmit="return validateForm('login')">
                    <label for="username-login">Username:</label>
                    <input id="username-login" type="text" name="username" required><br>

                    <label for="password-login">Password:</label>
                    <input id="password-login" type="password" name="password" required><br>

                    <input type="submit" value="Submit">
                </form>
                <div class="input-field-alert-box">
                </div>
            </div>
            <!-- Interview image -->
            <div class="image-content">
                <img src="/images/profile-one.jpg" alt="Picture of Interview">
                <img src="/images/profile-two.jpg" alt="Picture of Interview">
                <img src="/images/profile-three.png" alt="Picture of Interview">
            </div>
            <!-- Register -->
            <div class="register profile-content">
                <div class="profile-header">
                    Register
                </div>
                <form class="input-form" onsubmit="return validateForm('register')">

                    <label for="first_name">First Name:</label>
                    <input id="first_name" type="text" name="firstname" required><br>

                    <label for="last_name">Last Name:</label>
                    <input id="last_name" type="text" name="lastname" required><br>

                    <label for="date_of_birth">Date of Birth:</label>
                    <input id="date_of_birth" type="date" name="date_of_birth" required><br>

                    <label for="university">University:</label>
                    <input id="university" type="text" name="university" required><br>

                    <label for="major">Major:</label>
                    <input id="major" type="text" name="major" required><br>

                    <label for="searching_for">Searching for:</label>
                    <input id="searching_for" type="text" name="searching_for" required><br>

                    <label for="email">Email:</label>
                    <input id="email" type="email" name="email" required><br>

                    <label for="picture">Picture:</label>
                    <input id="picture" type="file" name="picture" accept=".gif,.jpg,.jpeg,.png"><br>

                    <label for="username_register">Username:</label>
                    <input id="username_register" type="text" name="username_register" required><br>

                    <label for="password_register">Password:</label>
                    <input id="password_register" type="password" name="password_register" required><br>

                    <label for="confirm_password">Confirm Password:</label>
                    <input id="confirm_password" type="password" name="confirm_password" required><br>

                    <input type="submit" value="Submit">
                    <input type="reset">
                </form>
                <div class="input-field-alert-box">
                </div>
            </div>
        </main>
        <!-- Footer -->
        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>
