html {
    height: 100%;
    margin: 0;
    font-family: 'Signika';
}
body {
    height: 100%;
    margin-left: 5vw;
    margin-right: 5vw;
    font-family: 'Signika';
}
header {
    text-align: center;
}
nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 4vh;
    margin-left: 2vw;
    margin-right: 2vw;
    background-color: #0066ff;
    color: #FFFFFF;
}
nav > a {
    color: #FFFFFF;
}
footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 4vh;
    margin-left: 2vw;
    margin-right: 2vw;
    background-color: #0066ff;
    color: #FFFFFF;
}
footer > a {
    color: #FFFFFF;
}
.skip {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;
}
a.skip:active,
a.skip:focus,
a.skip:hover {
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    overflow: visible;
}
.logo {
    margin-top: 3vh;
    margin-bottom: 2vh;
    max-width: 20vw;
}
