.schedule {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.schedule-content {
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 1vw;
    margin-right: 1vw;
    border-style: solid;
    border-width: 0.5vh;
    max-width: 30vw;
}
.schedule-header {
    margin-top: 1vh;
    margin-bottom: 3vh;
    text-align: center;
}
.input-form {
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 2vh;
    margin-right: 2vh;
    min-width: 20vw;
}
.input-form * {
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.image-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 1vw;
    margin-right: 1vw;
    max-width: 25vw;
}
.image-content {
    max-width: 25vw;
}
@media screen and (max-width: 979px){
    .schedule-content {
        max-width: 80vw;
    }
    .image-container {
        display: none;
    }
    .image-content {
        display: none;
    }
}
#schedule-link {
    border-style: solid;
    border-width: 1.5px;
}
